#content {
    overflow-y: scroll;
    height: 250px
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

.ng-hide {
    display: none;
}

.topbar {
    background-image: url('../images/top-bar.png');
    height: 40px;
    width: 350px;
}