<!doctype html>
<html ng-app ng-csp>
<head>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/app/controller.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/gogo.css">
</head>
<body>
<img src="/images/top-bar.png" width="350px" style="margin-bottom: 20px"></div>

<div ng-controller="GogoCtrl">
  <div id="content" class="container">
    <div ng-include="templatePage"></div>
  </div>
  <p/>

  <div class="btn-group btn-group-justified" ng-show="loggedIn">
    <div class="btn-group">
      <button ng-click="viewFlight()" type="button" class="btn btn-primary">Flight</button>
    </div>
    <div class="btn-group">
      <button ng-click="viewNews()" type="button" class="btn btn-success">News</button>
    </div>
    <div class="btn-group">
      <button ng-click="viewLeisure()" type="button" class="btn btn-warning">Leisure</button>
    </div>
  </div>
</div>

</body>
</html>
